depcomp
src/.deps
src/.libs
test/.deps
test/.libs
test/libundo_test.a
test/test1
test/test2
test/test3
test/test4
test/test5
test/test6
test/test7
test/test8
test/test9
test/test10
test/test11
test/test12
autom4te.cache
m4
config.*
*.m4
*.o
*.la
*.lo
Makefile
Makefile.in
missing
ltmain.sh
libtool
install-sh
configure
aclocal.m4
